.footer {
    grid-area: footer;
    background-color: var(--Midnight);
    color: white;
    height: 2rem;
    display: flex;
    flex-direction: column;
    outline:none;
    }

.footer p {
    width: 100%;
    line-height: 2rem;
    text-align: center;
    outline:none;
}