.o-main-area {
	grid-area: main-area;
	background-color: white;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.o-section-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	width: 80%;
	margin: 2rem 0;
}

.o-page-heading {
	margin-bottom: 1rem;
}

.o-page-body {
	display: flex;
	justify-content: start;
	align-items: start;
	width: 100%;
	height: 100%;
	background-color: var(--Eggshell);
	border: 1px solid var(--Dark-Smoke);
}