
.main-navigation {
	background-color: var(--English-Green);
	width: 80%;
}
.main-navigation .nav-links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 32px;
}

.main-navigation .active {
	color: var(--Aztec-Gold);
}

.main-navigation .nav-link {
	margin: 0 0.3rem;
}

.main-navigation .nav-link a {
	font-size: 20px;
}

.main-navigation .nav-link .active {
	color: var(--Aztec-Gold);
}
.main-navigation .nav-link-item {
	text-decoration: none;
	color: var(--color1);
	font-size: 0.8rem;
	font-weight: bold;
}

.c-navigation {
	background-color: var(--English-Green);
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.c-main-navigation {
	height: 100%;
	width: 50%;
	overflow: hidden;
}

.c-main-navigation__items {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}

.c-main-navigation__item {
	margin-right: 1rem;
}

.c-user-navigation {
	height: 100%;
	width: 50%;
	overflow: hidden;
}

.c-user-navigation__items {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

.c-user-navigation__item {
	margin-left: 1rem;
}

.c-main-navigation__link {
	color: white;
}
.c-user-navigation__link {
	color: white;
}
