/* submit button */
.c-form-button__submit {
	width: 100%;
	background-color: var(--Deep-Space-Sparcle);
	border: none;
	color: white;
	height: 2rem;
}

.c-action-button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 2rem;
}

/* edit button */
.c-action-button__edit {
	background-color: var(--English-Green);
	color: white;
	border-radius: 0.5rem;
	width: 45%;
	line-height: 1.5rem;
}
/* delete button */
.c-action-button__delete {
	background-color: var(--Red-Wine);
	color: white;
	border-radius: 0.5rem;
	width: 45%;
	line-height: 1.5rem;
}



/* create new button */
.c-form-button {
	margin: 1rem;
	width: 100%;
}
.c-form-button__createnew {
	width: 100%;
	background-color: var(--Deep-Space-Sparcle);
	border: none;
	color: white;
	height: 2rem;
}

.c-form-button__success {
	background-color: var(--Deep-Space-Sparcle);
	border: none;
	color: white;
	height: 2rem;
	width: 200px;
}